@charset "UTF-8";
* {
  font-family: 'Montserrat',sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 1% 0;
  background-color: #001741;
  background-image: url(../bg-f.png);
  background-size: 20px 20px;
  background-position: 0 0,20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ctn-formulario {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2%;
  background: #efefef;
  text-align: center;
}

.ctn-formulario p {
  color: black;
}

.ctn-formulario input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}

.ctn-formulario button {
  border: none;
  outline: none;
  background: #0051ff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.ctn-formulario button:hover {
  background: #00a2ff;
}

.message {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message p {
  background: #ff2323;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  font-size: 150%;
}

.message.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ctn-textos {
  overflow-y: auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2%;
  background: #014cd6;
}

.ctn-textos .ctn-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 97%;
      grid-template-columns: 97%;
  max-width: 80%;
  padding: 15px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #003597;
  margin: 5px auto;
}

.ctn-textos .ctn-text p {
  color: white;
  font-size: 140%;
}

.ctn-textos .ctn-text p:nth-child(1)::before {
  font-size: 150%;
  content: '·';
  margin: 0 15px 0 0;
  font-weight: bold;
}

.ctn-textos .ctn-text p:nth-child(3) {
  font-size: 100%;
  background: #003fb4;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ctn-textos .ctn-text .delete-text {
  background: red;
  text-align: center;
  padding: 5px 15px;
  font-size: 100%;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.ctn-textos .ctn-text .delete-text:hover {
  -webkit-transform: translateX(-1%) translateY(-1%);
          transform: translateX(-1%) translateY(-1%);
  -webkit-box-shadow: 1px 1px 0 black;
          box-shadow: 1px 1px 0 black;
}

@media (max-width: 414px) {
  .ctn-formulario {
    width: 95%;
  }
  .ctn-formulario .formulario {
    width: 95%;
    margin: auto;
  }
  .ctn-formulario input {
    margin: 10px auto;
    width: 90%;
  }
  .message p {
    font-size: 100%;
  }
  .ctn-textos {
    width: 95%;
    padding: 1%;
  }
  .ctn-textos .ctn-text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 95%;
    padding: 10px;
    margin: 3px auto;
    position: inherit;
  }
  .ctn-textos .ctn-text p {
    font-size: 100%;
  }
  .ctn-textos .ctn-text p:nth-child(1)::before {
    font-size: 120%;
    margin: 0 10px 0 0;
  }
  .ctn-textos .ctn-text .delete-text {
    position: static;
    top: auto;
    right: auto;
    background: crimson;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */